/* @tailwind base; */
@tailwind components;
@tailwind utilities;

#screen-recorder .m-button,
#screen-recorder button {
  border: none;
  cursor: pointer;
}

/* a tag */
#screen-recorder a {
  text-decoration: none;
}

.x-icon svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

input:checked + .custom-checkbox-label .x-icon .inactive {
  display: none;
}

input:not(:checked) + .custom-checkbox-label .x-icon .active {
  display: none;
}
