/* @tailwind base; */
@tailwind components;
@tailwind utilities;

#screen-recorder .m-button,
#screen-recorder button {
  border: none;
  padding: 1rem;
  cursor: pointer;
}

/* a tag */
#screen-recorder a {
  text-decoration: none;
}

.x-icon svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
